// This will be used for parts of Discord that aren't necessarily part of a section,
// but rather the app as a whole.
// Examples being: Tooltips, toolbar, scrollbars, ect...
#app-mount {
    border: 1px solid rgba(0,0,0,.7);
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,.7),inset 0 0 0 1px #fffa;
    border-radius: 6px;
    z-index: 0;

    &::before{
        background: linear-gradient(transparent 20%,#ffffffb3 40%,transparent 41%),linear-gradient(90deg,#ffffff66,#0000001a,#ffffff33),#4580c4;
        border-radius: 6px;
        box-shadow: inset 0 0 0 1px #fffd;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    
    .titleBar__01af6 {
        background: linear-gradient(to right, #ffffff66, #0000001a, #ffffff33), #4580c4;
        height: 15px;
        margin-top: 0;
        padding: 6px;
        inset: auto 0;
        border: 0;
        box-shadow: inset 0 1px 0 #fffd,inset 1px 0 0 #fffd,inset -1px 0 0 #fffd;
        display: flex;

        .wordmarkWindows__05c46 {
            color: white;
            padding: 6px;
            &::before {
                content: "Discord Messenger";
                color: #000;
                font: 9pt Segoe UI,SegoeUI,Noto Sans,sans-serif;
                letter-spacing: 0;
                line-height: 15px;
                text-shadow: 0 0 10px #fff,0 0 10px #fff,0 0 10px #fff,0 0 10px #fff,0 0 10px #fff,0 0 10px #fff,0 0 10px #fff,0 0 10px #fff;
            }
            &::after {
                content: "really shiny retro icon";
            }
            svg {
                display: none;
            }
        }
        .winButton__88672 {
            position: relative;
            min-width: 29px;
            min-height: 19px;
            top: 0;
            margin-top: -6px;
            margin-left: 0;
            border: 1px solid rgba(0,0,0,.3);
            border-radius: 0 0 5px 5px;
            border-top: 0;
            display: flex;
            color: white;
            background: #fff3;

            &[aria-label="Maximize"] {
                border-radius: 0 0 0 0;
                border-left: 0;
                box-shadow: 0 1px 0 #fffa,inset 0 0 0 1px #fffa;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBlZHBCYAwDEVT6YaKbqArOILgBLqBosP1VkhAaQ6S1lKad+ihPy8kxLT9+IACG57r2KqKu2GCBpTYtEMOOQELzrnv4z53I4vDjjJnwXsPJWTOAiJGHVNB5pGwLjPk+AlEBLUY7eFebCosBHOR7vYAAAAASUVORK5CYII=") no-repeat 50%,linear-gradient(hsla(0,0%,100%,.5),hsla(0,0%,100%,.3) 45%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,hsla(0,0%,100%,.5));
            }
            &[aria-label="Minimize"] {
                border-radius: 0 0 0 5px;
                box-shadow: 0 1px 0 #fffa,-1px 0 0 #fffa,inset 0 0 0 1px #fffa;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBlY+xDQAgDMNaiQ9B8AHcxAlI/NYtKwj6QOohUzxYc+1HAqQ3e03qXNpwwcyE5QsAaEGjDRf8ZAza6Bz6VQAAAABJRU5ErkJggg==") no-repeat center 10px,
                    linear-gradient(
                        rgba(255, 255, 255, 0.5),
                        rgba(255, 255, 255, 0.3) 45%,
                        rgba(0, 0, 0, 0.1) 50%,
                        rgba(0, 0, 0, 0.1) 75%,
                        rgba(255, 255, 255, 0.5)
                    );
                &::before {
                    content: "";
                    box-shadow: 0 0 7px 3px #5dc4f0, inset 0 0 0 1px #fffa;
                    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBlY+xDQAgDMNaiQ9B8AHcxAlI/NYtKwj6QOohUzxYc+1HAqQ3e03qXNpwwcyE5QsAaEGjDRf8ZAza6Bz6VQAAAABJRU5ErkJggg==") no-repeat center 10px,
                        radial-gradient(circle at bottom, #2aceda, transparent 65%),
                        linear-gradient(#b6d9ee 50%, #1a6ca1 50%);
                    opacity: 1;
                    transition: opacity 0.3s linear;
                }
                &:hover::before,
                &:focus-visible::before {
                    opacity: 1;
                    transition: opacity 0.1s linear;
                }
                &:active::before {
                    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAFCAYAAABxeg0vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBlY+xDQAgDMNaiQ9B8AHcxAlI/NYtKwj6QOohUzxYc+1HAqQ3e03qXNpwwcyE5QsAaEGjDRf8ZAza6Bz6VQAAAABJRU5ErkJggg==") no-repeat center 10px,
                        radial-gradient(circle at bottom, #2aceda, transparent 65%),
                        linear-gradient(#86a7bc 50%, #092747 50%);
                }
            }
            &[aria-label="Close"] {
                border-radius: 0 0 5px 0;
                border-left: 0;
                box-shadow: 0 1px 0 #fffa,1px 0 0 #fffa,inset 0 0 0 1px #fffa;
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACUSURBVHgBlZFNCoQwDIVbmRvOMHOAAd0K/uDGlYKiCG4VPICi9yu0oCSQoFUXFtKEl6+voZXvr7sKay1TL690FOexY+Hz87i2decOuDKQsNGVe8AGYTRJIh0Y+orBvxszCPllOymlxN06jNE26Qnwg4zdHQLrMhFaawwAqAadDPE1ijwUxhiMKCmxCZk06OMYTz5lAx3xWDeXkLNAAAAAAElFTkSuQmCC") no-repeat 50%,linear-gradient(hsla(0,0%,100%,.5),hsla(0,0%,100%,.3) 45%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.1) 75%,hsla(0,0%,100%,.5)),radial-gradient(circle at -60% 50%,#0007 5% 10%,#0000 50%),radial-gradient(circle at 160% 50%,#0007 5% 10%,#0000 50%),linear-gradient(#e0a197e5,#cf796a 25% 50%,#d54f36 50%);
                min-width: 48px;
            }
            svg {
                display: none;
            }
        }
    }
    
    .appAsidePanelWrapper__714a6 {
        margin: 0 6px 6px;
    }
}
