:root {
	--font-primary: 'Tahoma', 'Segoe UI', 'SegoeUI', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-display: 'Tahoma', 'Segoe UI', 'SegoeUI', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
	--theme-version: 'dev';
}
